# rikka binary
rikka
rikkac/rikkac

# rikka binary when debug
debug

# vscode project config
.vscode/

# default uploaded image save dir
files

# rikkac binary
cli/rikkac

# git big picture
bp.png

# goland
.idea/
