<!DOCTYPE html>
<head>
    <title>Rikka - Home - {{ .Version }}</title>
    <link rel="shortcut icon" href="{{ .FavIconPath }}" type="image/png">
    <link rel="stylesheet" href="{{ .StaticPath }}css/common.css" />
    <link rel="stylesheet" href="{{ .StaticPath }}css/index.css" />
</head>
<body>
    <div class="hide" id="error">Some <span style="color: red">error</span> happened on this page, please open <span style="color: red">console</span> of your browser and send a <span style="color: red">snapshot</span> to developers, <span style="color: red">thanks</span>!</div>
    <header>
        <h1><a href="{{ .RootPath }}">RIKKA</a></h1>
        <p>A <span style="color: #6cf">simple</span> image share website</p>
    </header>
    <main>
        <img class="logo" src="{{ .StaticPath }}image/rikka.png" />
        <img id="uploading" />
        <form id="uploadFrom" enctype="multipart/form-data" action="{{ .UploadPath }}" method="post"  onsubmit="return check({{ .MaxSizeByMb }});">
            <div class="line">
                <label id="fakeUploadBtn" for="uploadFile">Choose</label>
                <input id="filename" placeholder="Choose File" disabled="disabled" />
                <input id="uploadFile" name="uploadFile" type="file" accept="image/*" /><br>
            </div>
            <div class="line">
                <label for="password">Password</label>
                <input id="password" name="password" type="password" />
            </div>
            <input type="hidden" name="from" value="website" />
            <input id="submitBtn" type="submit" value="Upload" />
        </form>
    </main>
    <footer>
        <p>Version {{ .Version }}</p>
        <p>Design with <span style="color: red">❤</span>, by <span style="color: #66ccff">7sDream</span></p>
    </footer>
    <script src="{{ .StaticPath }}js/onError.js"></script>
    <script src="{{ .StaticPath }}js/checkForm.js"></script>
    <script>
        let filenameBox = document.querySelector("input#filename");
        let input = document.querySelector("input#uploadFile");
        input.addEventListener("change", function(){
            filenameBox.value = input.value.split('\\').pop().split('/').pop();
        });
    </script>
</body>
