<!DOCTYPE html>
<head>
    <title>Rikka - Home - {{ .Version }}</title>
    <link rel="shortcut icon" href="{{ .FavIconPath }}" type="image/png">
    <link rel="stylesheet" href="{{ .StaticPath }}css/common.css" />
    <link rel="stylesheet" href="{{ .StaticPath }}css/index.css" />
</head>
<body>
    <!-- Fork me on github ribbons -->
    <a href="https://github.com/7sDream/rikka"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>
    <!-- Error tips bar -->
    <div class="hide" id="error">Some <span style="color: red">error</span> happened on this page, please open <span style="color: red">console</span> of your browser and send a <span style="color: red">snapshot</span> to developers, <span style="color: red">thanks</span>!</div>
    <header>
        <h1><a href="{{ .RootPath }}">RIKKA</a></h1>
        <p>A <span style="color: #6cf">simple</span> image share website</p>
    </header>
    <main>
        <img class="logo" src="{{ .StaticPath }}image/rikka.png" />
        <img id="uploading" />
        <form id="uploadFrom" enctype="multipart/form-data" action="{{ .UploadPath }}" method="post"  onsubmit="return check({{ .MaxSizeByMb }});">
            <div class="line">
                <label id="fakeUploadBtn" for={{ .FormKeyFile }}>Choose</label>
                <input id="filename" placeholder="<-- Choose File" disabled="disabled" />
                <input id={{ .FormKeyFile }} name={{ .FormKeyFile }} type="file" accept="image/*" /><br>
            </div>
            <div class="line">
                <label for="{{ .FormKeyPWD }}">Password</label>
                <input id="{{ .FormKeyPWD }}" name="{{ .FormKeyPWD }}" type="password" />
            </div>
            <input type="hidden" name="{{ .FormKeyFrom }}" value="{{ .FromWebsite }}" />
            <input id="submitBtn" type="submit" value="Upload" />
        </form>
    </main>
    <footer>
        <p>Version {{ .Version }}</p>
        <p>Design with <span style="color: red">❤</span>, by <span style="color: #66ccff">7sDream</span></p>
    </footer>
    <script src="{{ .StaticPath }}js/onError.js"></script>
    <script src="{{ .StaticPath }}js/checkForm.js"></script>
    <script>
        let filenameBox = document.querySelector("input#filename");
        let input = document.querySelector("input#uploadFile");
        input.addEventListener("change", function(){
            filenameBox.value = input.value.split('\\').pop().split('/').pop();
        });
    </script>
</body>
