<!DOCTYPE html>
<head>
    <title>Rikka - {{ .Version }} - View - {{ .TaskID }}</title>
    <link rel="shortcut icon" href="{{ .StaticPath }}favicon.png" type="image/png">
    <link rel="stylesheet" href="{{ .StaticPath }}common.css" />
    <link rel="stylesheet" href="{{ .StaticPath }}view.css" />
</head>
<body>
    <div class="hide" id="error">Some error happened on this page, please press F12 to open devtools' console and send a snapshot to developers, thanks!</div>
    <header>
        <h1><a href="{{ .RootPath }}">RIKKA</a></h1>
        <p>A <span style="color: #6cf">simple</span> image share website</p>
    </header>
    <main>
        <img class="preview" src="{{ .URL }}" >
        <form>
            <div class="line copyAsText">
                <label for="src" class="copyBtn">Src</label>
                <input name="src" value="{{ .URL }}" disabled/>
            </div>
            <div class="line copyAsText">
                <label for="markdown" class="copyBtn">Markdown</label>
                <input name="markdown" value="![]({{ .URL }})" disabled/>
            </div>
            <div class="line copyAsText">
                <label for="html" class="copyBtn">HTML</label>
                <input name="html" value="<img src=&quot;{{ .URL }}&quot; >"disabled/>
            </div>
            <div class="line copyAsText">
                <label for="rst" class="copyBtn">RST</label>
                <input name="rst" value=".. image:: {{ .URL }}" disabled/>
            </div>
            <div class="line copyAsText">
                <label for="bbcode" class="copyBtn">BBCode</label>
                <input name="bbcode" value="[img]{{ .URL }}[/img]" disabled/>
            </div>
        </form>
    </main>
    <footer>
        <p>Version {{ .Version}}</p>
        <p>Design with <span style="color: red">love</span>, by <span style="color: #66ccff">7sDream</span></p>
    </footer>
    <script src="{{ .StaticPath }}onError.js"></script>
    <script src="{{ .StaticPath }}copy.js"></script>
    <script>
        'use strict';
        addCopyEventListener("");
    </script>
</body>
