<!DOCTYPE html>
<head>
    <title>Rikka - {{ .Version }} - View - {{ .TaskID }}</title>
    <link rel="shortcut icon" href="{{ .FavIconPath }}" type="image/png">
    <link rel="stylesheet" href="{{ .StaticPath }}css/common.css" />
    <link rel="stylesheet" href="{{ .StaticPath }}css/view.css" />
</head>
<body>
    <div class="hide" id="error">Some error happened on this page, please open console of your browser and send a snapshot to developers, thanks!</div>
    <header>
        <h1><a href="{{ .RootPath }}">RIKKA</a></h1>
        <p>A <span style="color: #6cf">simple</span> image share website</p>
    </header>
    <main>
        <p id="state">State: Getting image state, please waiting...</p>
        <img class="preview hide" src="" >
        <form class="hide">
            <div class="line copyAsText">
                <label for="src" class="copyBtn">Src</label>
                <input name="src" value="" data-template="${url}" disabled/>
            </div>
            <div class="line copyAsText">
                <label for="markdown" class="copyBtn">Markdown</label>
                <input name="markdown" value="" data-template="![](${url})" disabled/>
            </div>
            <div class="line copyAsText">
                <label for="html" class="copyBtn">HTML</label>
                <input name="html" value="" data-template="<img src=&quot;${url}&quot; >" disabled/>
            </div>
            <div class="line copyAsText">
                <label for="rst" class="copyBtn">RST</label>
                <input name="rst" value="" data-template=".. image:: ${url}" disabled/>
            </div>
            <div class="line copyAsText">
                <label for="bbcode" class="copyBtn">BBCode</label>
                <input name="bbcode" value="" data-template="[img]${url}[/img]" disabled/>
            </div>
        </form>
    </main>
    <footer>
        <p>Version {{ .Version}}</p>
        <p>Design with <span style="color: red">love</span>, by <span style="color: #66ccff">7sDream</span></p>
    </footer>
    <script src="{{ .StaticPath }}js/onError.js"></script>
    <script src="{{ .StaticPath }}js/getSrc.js"></script>
    <script src="{{ .StaticPath }}js/copy.js"></script>
    <script>
        'use strict';
        getPhotoState({{ .TaskID }});
    </script>
</body>
