input#uploadFile {
    position: absolute;
    top: 0;
    right: 0;
    height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    display: none;
    filter: alpha(opacity=0);
}
label#fakeUploadBtn {
    cursor: pointer;
}
input#submitBtn {
    color: #66ccff;
    border: 1px solid;
    border-radius: 2px;
    text-align: center;
    font-size: 1em;
    background: white;
    line-height: 1.5em;
    width: 50%;
    font-weight: bold;
}
