body, header, main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}
header {
    margin-bottom: 2em;
}
h1 {
    order: 0;
    font-size: 2em;
    margin: 0;
}
h1 a {
    text-decoration: none;
    color: black;
}
p {
    margin: 0;
}
main {
    margin-bottom: 2em;
}
img.logo, img.preview {
    margin-bottom: 2em;
}
form {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
}
div.line {
    display: flex;
    margin-bottom: 0.5em;
    width: 20em;
}
div.line label, input#submitBtn {
    width: 50%;
    color: #66ccff;
    border: 1px solid;
    border-radius: 2px;
    text-align: center;
}
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}