img.preview {
    max-width: 300px;
    max-height: 300px;
}
input {
    margin-top: 1em;
    height: 1em;
    width: 25em;
}
label.btn {
    color: #66ccff;
    cursor: pointer;
    border: 1px solid #66ccff;
    border-radius: 2px;
    height: 100%;
}
