<!DOCTYPE html>
<head>
    <title>Rikka - Home</title>
    <link rel="stylesheet" href="/static/common.css" />
    <link rel="stylesheet" href="/static/index.css" />
</head>
<body>
    <header>
        <h1><a href="{{ .RootPath }}">RIKKA</a></h1>
        <p>A <span style="color: #6cf">simple</span> image share website</p>
    </header>
    <main>
        <img class="logo" src="{{ .StaticPath }}rikka.png" />
        <img id="uploading" />
        <form id="uploadFrom" enctype="multipart/form-data" action="{{ .UploadPath }}" method="post"  onsubmit="return onSubmit();">
            <div class="line">
                <label id="fakeUploadBtn" for="uploadFile">Choose</label>
                <input id="filename" placeholder="Choose File" disabled="disabled" />
                <input id="uploadFile" name="uploadFile" type="file" accept="image/*" /><br>
            </div>
            <div class="line">
                <label for="password">Password</label>
                <input id="password" name="password" type="password" />
            </div>
            <input type="hidden" name="from" value="website" />
            <input id="submitBtn" type="submit" value="Upload" />
        </form>
    </main>
    <footer>
        <p>Version {{ .Version }} </p>
        <p>Design with <span style="color: red">love</span>, by <span style="color: #66ccff">7sDream</span></p>
    </footer>
    <script>
        'use strict';
        let filenameBox = document.querySelector("input#filename");
        let input = document.querySelector("input#uploadFile");
        input.addEventListener("change", function(){
            filenameBox.value = input.value.split('\\').pop().split('/').pop();
        });
        function onSubmit() {
            let fileInput = document.querySelector("input#uploadFile");
            let file = fileInput.files[0]
            if (file.type.startsWith("image") === false) {
                let fileType = file.type || "unknown"
                alert("Can't upload a " + file.type + " type file")
                return false;
            }
            if (file.size > ({{ .MaxSizeByMb }} * 1024 * 1024)) {
                let fileSizeByMb = Math.round(file.size / 1024 / 1024 * 100) / 100;
                alert("Max file size is {{ .MaxSizeByMb }} Mb, input file is " + fileSizeByMb.toString() + " Mb");
                return false;
            }
            let imgElement = document.querySelector("img#uploading");
            imgElement.classList.add("show");
            return true;
        }
    </script>
</body>
