<!DOCTYPE html>
<head>
    <title>Rikka - Home</title>
    <link rel="stylesheet" href="/static/main.css" />
    <link rel="stylesheet" href="/static/view.css" />
</head>
<body>
    <header>
        <h1><a href="/">RIKKA</a></h1>
        <p>A <span style="color: #6cf">simple</span> photo share web app.</p>
    </header>
    <main>
        <img class="preview" src="{{ .URL }}" />
        <form>
            <div class="line copyAsText">
                <label for="src" class="copyBtn">Src</label>
                <input name="src" value="{{ .URL }}" disabled/>
            </div>
            <div class="line copyAsText">
                <label for="markdown" class="copyBtn">Markdown</label>
                <input name="markdown" value="![]({{ .URL }})" disabled/>
            </div>
            <div class="line copyAsText">
                <label for="html" class="copyBtn">HTML</label>
                <input name="html" value="<img src=&quot;{{ .URL }}&quot; />" disabled/>
            </div>
            <div class="line copyAsText">
                <label for="rst" class="copyBtn">RST</label>
                <input name="rst" value=".. image:: {{ .URL }}" disabled/>
            </div>
        </form>
    </main>
    <footer>
        <p>Design with <span style="color: red">love</span>, by <span style="color: #66ccff">7sDream</span></p>
    </footer>
    <script src="/static/copy.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function(event) {
            addCopyEventListener();
        });
    </script>
</body>
